.class1 .class2 {
    color:black;
    font-weight: bold;
    text-decoration:underline;
    
}

.cls1 .cls2 {
    text-decoration: underline;
    color: aqua;
    font-weight: bold;
    background-color: blue;
}





